<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.demo"></context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>	
	
	<bean id="placeHolderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	     <property name="location" value="data.properties"></property>
	</bean>
	
	<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
	    p:driverClassName="${jdbc.driverclass}" p:url="${jdbc.url}" p:username="${jdbc.uname}" p:password="${jdbc.pass}">
	</bean>
	
	
	<!-- <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	     <property name="driverClassName" value="${jdbc.driverclass}"></property>
	     <property name="url" value="${jdbc.url}"></property>
	     <property name="username" value="${jdbc.uname}"></property>
	     <property name="password" value="${jdbc.pass}"></property>
	</bean> -->
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
	     p:dataSource-ref="ds">
	</bean>
	<!-- 
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	   <property name="dataSource" ref="ds"></property>
	</bean> -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
	 p:prefix="/WEB-INF/views/" p:suffix=".jsp" p:viewClass="org.springframework.web.servlet.view.JstlView">
	</bean>
	<!-- <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix" value="/WEB-INF/views/"></property>
	<property name="suffix" value=".jsp"></property>
	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
	</bean> -->	
	</beans>